body {
    font-family: Arial, Helvetica, sans-serif;
}

section2 {
    width: 1440px;
}
.fa-user {
    width: 100px;
}
.icon i {
    font-size: 100px;
}

.experiencia h5 {
    font-size: 16px;
}

.formacion {
    font-size: 14px;
}

footer {
    height: 40px;
}